/* ActivatePlan.css */
.activate-plan-container {
    
    justify-content: left;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .activation-card {
    width: 100%;
    max-width: 1500px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 300px;
    height: 100%;
    margin-top: 100px;
  }
  
  .activation-card h1 {
    margin-top: 10px;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .activation-card p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .activate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .activate-button:hover {
    background-color: #0056b3;
  }

  .go-back{
    background-color: #007bff;
    color: white;
    border: none;
    margin-left: 3px;
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .go-back:hover {
    background-color: #0056b3;
  }
  